<div class="banhang">
  <h3>Bán Hàng</h3>
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Nhập mã mua hàng">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <br>
  <br>
  <div class="nhaphang">
        <table>
            <tr>
              <th class="masanpham">Tên mặt hàng</th>
              <th class="masanpham">Loại sản phẩm</th>
              <th class="masanpham">Giá bán</th>
              <th class="masanpham">Nhà Phân Phối</th>
              <th class="masanpham">Số lượng</th>
              <th class="masanpham">Thành tiền</th>
              <th class="masanpham">Xóa</th>

            </tr>
            <tr>
         
              <td>Nước hoa cao cấp</td>
              <td>Nước hoa</td>       
              <td>200000</td>
              <td>Cali</td>
              <td>2 <button>+</button></td>
              <td>100000</td>
              <td><button>Xóa</button></td>
            </tr>
            <tr>
               
                    <td>Nước hoa cao cấp</td>
                    <td>Nước hoa</td>       
                    <td>200000</td>
                    <td>Cali</td>
                    <td>2 <button>+</button></td>
                    <td>100000</td>
                    <td><button>Xóa</button></td>
                </tr>             
          </table>
      </div>
      <br>
      <span style="padding-left: 350px;"><b>Tổng tiền:</b></span>
      <br>
      <button style="margin-left: 0px;">Quay lại</button>
      <button style="margin-left:500px;">In hóa đơn</button>
</div>
