<div class="container">
  <h3>Nhập Danh Sách Mặt Hàng</h3>
  <form class="form-horizontal">
    <div class="form-group">
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Tên SP:</label>
      <div class="col-sm-10">
        <input class="form-control" id="focusedInput" type="text" placeholder="Tên SP">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledTextInput" class="col-sm-2 control-label">Giá nhập:</label>
      <div class="col-sm-10">
        <input type="number" id="disabledTextInput" class="form-control" placeholder="Giá nhập">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledTextInput" class="col-sm-2 control-label">Giá bán:</label>
      <div class="col-sm-10">
        <input type="number" id="disabledTextInput" class="form-control" placeholder="Giá bán">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label">Người Nhập</label>
      <div class="col-sm-10">
        <input class="form-control" id="disabledInput" type="text" placeholder="Admin" disabled>
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label">Loại sản phẩm:</label>

      <div class="col-sm-10">
        <select class="form-control" id="sel1" name="sellist1">
          <option>Nước hoa</option>
          <option>Dầu Gội</option>
          <option>Nước tương</option>
          <option>Nước rửa chén</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label">Ngày nhập</label>
      <div class="col-sm-10">
        <input class="form-control" id="disabledInput" type="date" placeholder="Admin">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label">Số lượng</label>
      <div class="col-sm-10">
        <input class="form-control" id="disabledInput" type="number" placeholder="Số lượng">
      </div>
    </div>
    <div class="form-group">
      <label for="disabledInput" class="col-sm-2 control-label">Nhà phân phối:</label>

      <div class="col-sm-10">
        <select class="form-control" id="sel1" name="sellist1">
          <option>Công ty An Khanh</option>
         
        </select>
      </div>
    </div>
  </form>
  <div class="form-group">
    <div class="col-sm-10">
      <button style="width: 10%; text-align: center; margin-left: 300px; margin-right: 5px;" type="button" class="">Lưu</button>
      <button style="width: 10%; text-align: center; margin: 0 auto" type="button" class="">Thoát</button>

    </div>
  </div>
</div>
