<h2 class="nhaphanphoi">Nhà Phân Phối</h2>
<table>
    <tr>
      <th class="hehe">Mã số</th>
      <th>Tên NPP</th>
      <th>Địa Chỉ</th>
      <th>Sửa/Xóa</th>
    </tr>
    <tr>
      <td>001</td>
      <td>Công ty Dầu Ăn</td>
      <td>Germany</td>
      <td><button>Sửa</button> || <button>Sửa</button></td>
    </tr>
    <tr>
      <td>001</td>
      <td>Công ty Dầu Ăn</td>
      <td>Germany</td>
      <td><button>Sửa</button> || <button>Sửa</button></td>

    </tr>
    <tr>
      <td>001</td>
      <td>Công ty Dầu Ăn</td>
      <td>Germany</td>
      <td><button>Sửa</button> || <button>Sửa</button></td>
    </tr>
    <tr>
      <td>001</td>
      <td>Công ty Dầu Ăn</td>
      <td>Germany</td>
      <td><button>Sửa</button> || <button>Sửa</button></td>
    </tr>
  </table><br>
  