<div class="nhaphang">
  <h2 style="text-align: center">Danh Mục Sản Phẩm</h2>
  <table>
      <tr>
        <th class="masanpham">Mã danh mục</th>
        <th class="masanpham">Loại Sản Phẩm</th>
        <th class="masanpham">Người Tạo</th>
        <th class="masanpham">Sửa/Xóa</th>
      </tr>
      <tr>
        <td>001</td>
        <td>Nước hoa</td>
        <td>Admin</td>
        <td><Button>Sửa</Button>||<button>Xóa</button></td>
      </tr>
      <tr>
        <td>001</td>
        <td>Nước hoa</td>
        <td>Admin</td>
        <td><Button>Sửa</Button>||<button>Xóa</button></td>

      </tr>
      <tr>
        <td>001</td>
        <td>Nước hoa</td>
        <td>Admin</td>
        <td><Button>Sửa</Button>||<button>Xóa</button></td>
      </tr>
      
    </table>
</div>