<div class="nhaphang">
  <h2 style="text-align: center">Hàng Tồn Kho</h2>
  <table>
      <tr>
        <th class="masanpham">Mã sản phẩm</th>
        <th class="masanpham">Tên mặt hàng</th>
        <th class="masanpham">Loại sản phẩm</th>
        <th class="masanpham">Giá nhập</th>
        <th class="masanpham">Giá bán</th>
        <th class="masanpham">Ngày nhập</th>
        <th class="masanpham">Người nhập</th>
        <th class="masanpham">Số lượng tồn</th>
        <th class="masanpham">Nhà Phân Phối</th>
       
      </tr>
      <tr>
        <td>001</td>
        <td>Nước hoa cao cấp</td>
        <td>Nước hoa</td>
        <td>100000</td>
        <td>200000</td>
        <td>28/7/2018</td>
        <td>Văn Khoa</td>
        <td>10</td>
        <td>Cali</td>
      </tr>
      <tr>
        <td>001</td>
        <td>Nước hoa cao cấp</td>
        <td>Nước hoa</td>
        <td>100000</td>
        <td>200000</td>
        <td>28/7/2018</td>
        <td>Văn Khoa</td>
        <td>10</td>
        <td>Cali</td>
      </tr>
      <tr>
        <td>001</td>
        <td>Nước hoa cao cấp</td>
        <td>Nước hoa</td>
        <td>100000</td>
        <td>200000</td>
        <td>28/7/2018</td>
        <td>Văn Khoa</td>
        <td>10</td>
        <td>Cali</td>
      </tr>
      
    </table>
</div>