/* You can add global styles to this file, and also import other style files */
body
{
    background: url('http://hinhnenpowerpointdep.com/uploads/images/tuyen-tap-cac-hinh-nen-powerpoint-chu-de-do-an-thuc-uong-1484329152-3.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
